<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/home.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>

  <div class="container">
    <div class="wrapper"> 
      {{!-- Sidebar --}}
      <aside>
        <div class="sidebar-top">
          <h3>Locations</h3>
        </div>
        <ul>
          {{!-- Suburb List --}}
          {{#each suburbs}}
          <a href="/filter/{{suburb}}" class="location-link">{{suburb}}</a>
          {{#unless @last}} <!-- This makes it so that it doesn't display a <hr> on the last subrub item !-->
          <hr>
          {{/unless}}
          {{/each}}
        </ul>
        <div class="sidebar-bot"></div>
      </aside>

      {{!-- Property grid --}}
      <main>
        <div class="property-grid">
          {{#each properties}}
          <div class="property-card">
            <div class="address">{{address}}</div> <!-- Address -->
            <img src="{{image_url}}" alt="Image of {{address}}" /> <!-- Image -->
            <div class="price">${{list_price}}</div> <!-- Price -->
          </div>
          {{/each}}
        </div>
      </main>
    </div>
  </div>

</body>


</html>