<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/edit.css">
  <title>Edit Property</title>
</head>

<body>
  <form action="/properties/edit/{{property.id}}" method="post" enctype="multipart/form-data" class="edit_form">

    <h1>Edit Property</h1>
    <label for="address" class="address_label">Address:</label>
    <input type="text" id="address" name="address" value="{{property.address}}" required class="address_input">

    <label for="list_price" class="lp_label">List Price:</label>
    <input type="number" id="list_price" name="list_price" value="{{property.list_price}}" step="1000" min="1000"
      required class="lp_input">

    <label for="suburb" class="suburb_label">Suburb:</label>
    <input type="text" id="suburb" name="suburb" value="{{property.suburb}}" required class="suburb_input">

    <i>
      <p>Current Image: {{property.image_name}}</p>
    </i>
    <img src="{{property.image_url}}" alt="Property Image" class="current-image">
    <label for="image" class="image_label">Upload New Image (optional):</label>
    <input type="file" id="image" name="image" class="image_input">

    <button type="submit" class="primary-btn">Update Property</button>
  </form>
</body>

</html>