<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/view.css">
  <title>Property Details</title>
</head>

<body>
  <div class="property-card">
    <h1>Property Details</h1>

    <p><strong>ID:</strong> {{property.id}}</p>
    <p><strong>Address:</strong> {{property.address}}</p>
    <p><strong>Suburb:</strong> {{property.suburb}}</p>
    <p><strong>List Price:</strong> {{property.list_price}}</p>

    <br>

    <img src="{{property.image_url}}" alt="Property Image" class="property-image">

    <div class="button-group">
      <a href="/properties/edit/{{property.id}}">
        <button class="edit-prop">Edit Property</button>
      </a>

      <!-- Form for deleting the property -->
      <form action="/properties/delete/{{property.id}}" method="POST"
        onsubmit="return confirmDeletion();">
        <button type="submit" class="delete-btn" title="Delete">Delete Property</button>
      </form>

      <a href="/dashboard">
        <button class="dash-link">Back to properties</button>
      </a>
    </div>
  </div>
</body>

</html>